html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  overflow: hidden;        
  background: #000;        
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}
.header-safe {
  padding-top: calc(10px + var(--safe-top));
}
.route-bottombar-safe {
  padding-bottom: calc(8px + var(--safe-bottom));
}